aiohttp==3.9.5
async-timeout==4.0.3
attrs==23.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
frozenlist==1.4.1
huggingface-hub==0.32.4
idna==3.7
line-bot-sdk==3.17.1
marshmallow==3.21.1
multidict==6.0.5
packaging==24.0
pyparsing==3.1.2
python-dotenv==1.0.1
requests==2.32.2
six==1.16.0
urllib3==2.2.1
yarl==1.9.4
Flask==3.1.1